<form action="/recipes" method="post">
  <input type="text" name="name" placeholder="Place name here">
  <input type="text" name="ingredients" placeholder="place ingredients here">
  <input type="text" name="cook_time" placeholder=" place cook time here">
  <input type="submit" id="Submit">
</form>
